<% if user_signed_in? %> 
<h1>Alle recepten</h1>
<p>Bekijk hier alle recepten die op Altijd Heerlijk te vinden zijn.</p> 
<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
          <div class="panel-body">
          <b>Recept: </b><%= link_to pin.description, pin_path(pin) %>
          <p>
          <b>Van: </b><%= link_to image_tag(pin.user.image_file_name), @user %>
           <div class="actions">
          <%= link_to like_pin_path(pin), method: :put, class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-heart"></span>
          <% end %>
           </div>
          </div>
    </div>
  <% end %>
</div>
<% else %>
<%= render 'pages/login' %>
<% end %>