<h1>Mijn eigen recepten</h1>
<p>Bekijk hier de <strong><%= @current_user.pins.count %> recepten</strong> die je zelf hebt toegevoegd aan Altijd Heerlijk.</p> 
<%= render 'pins/show_pin_details' %>  
