<% if user_signed_in? %>  
    <h1>Mijn recepten</h1>
    <p>Bekijk hier de <strong><%= @current_user.pins.count %> recepten</strong> die je zelf hebt toegevoegd aan Altijd Heerlijk.</p> 
        <%= render 'pins/show_pin_details' %>  
<% else %>
    <%= render 'pages/login' %>
<% end %>
