<p id="notice"><%= notice %></p>

<p>
  <strong>Naam recept:</strong>
  <%= @pin.description %>
</p>
<% if @pin.user == current_user %>
<%= link_to 'Wijzig recept', edit_pin_path(@pin) %> 
<% end %>
<%= link_to 'Terug', pins_path %>
