<h1>Favoriete recepten van jouw vrienden</h1>
<p>Bekijk hier de favoriete recepten die jouw <b><%= current_user.follows.count%></b> vrienden lekker vinden.</p> 
<% if @pins.present? && @pins.to_a.size > 0 %>
<%= render 'pins/show_pin_details' %>  
<% else %>
	<p><u>Voeg eerst vrienden toe om persoonlijke suggesties te ontvangen.</u></p>
<% end %>

<%= link_to users_path, class: "btn btn-success btn-block" do %>
<span class="glyphicon glyphicon-chevron-right"></span>
Voeg vrienden toe<% end %></p>

