<h1>Mijn volgers</h1>
<p>Bekijk hier de <b><%= current_user.followers.count %></b> chefs die jou volgen op Altijd Heerlijk. <br>
   <% if @followers.present? && @followers.size > 0 %>
   <div id="pins" class="transitions-enabled">
            <% @followers.each do |user| %>
              <div class="box panel panel-default" id = "user_<%= user.id %>">
               <%= render :partial => 'users/user', :locals => {:user => user} %>
                    </div> 
            <% end %>
        <% else %>
          <p><b>Er is nog niemand die jouw volgt, nodig nu vrienden uit om jou te volgen.</p></b>
        <% end %> 


  
      