<% if user_signed_in? %>  
<h1>Mijn favoriete chefs</h1>
<p>Bekijk hier al jouw favoriete chefs op Altijd Heerlijk. <br>
  <div>
    <h2>Followers</h2>
    <% if @followers.present? && @followers.size > 0 %>
      <% @followers.each do |user| %>
        <div class="box panel panel-default" id = "user_<%= user.id %>">
          <%= render :partial => 'users/user', :locals => {:user => user} %>
        </div>
      <% end %>
    <% else %>
      <p> You currently have no followers</p>
    <% end %>
  </div>

  <div>
    <h2>Followings</h2>
    <% if @followings.present? && @followings.size > 0 %>
      <% @followings.each do |user| %>
        <div class="box panel panel-default" id = "user_<%= user.id %>">
          <%= render :partial => 'users/user', :locals => {:user => user} %>
        </div>
      <% end %>
    <% else %>
      <p> You currently have no followings</p>
    <% end %>
  </div>
<% end %>