<h1>Welkom bij Altijd Heerlijk</h1>
<div class="jumbotron center">
	<p>
		<%= link_to "Log in", new_user_session_path, class: "btn btn-info" %> of  
		<%= link_to "Maak een account aan", new_user_registration_path, class: "btn btn-info" %> om zelf recepten toe te voegen, je favoriete recepten op te slaan en om persoonlijke suggesties te ontvangen.
    </p>    
</div>