
<div class="panel panel-default">
  <div class="panel-heading">
  	 <div class="panel-title">
  	 	<h1>Welkom bij Altijd Heerlijk</h1>
  	 	</div>

		<div class="panel-heading">
      Bij Altijd Heerlijk ontdek je de recepten van je vrienden en andere levensgenieters. Log in met je Facebook account en start direct met het ontdekken van nieuwe recepten.
		</div>
  
  		<div class="panel-body">
     	 	<%= link_to "Log in", user_omniauth_authorize_path(:facebook), class: "btn btn-info" %><br/><br/>
      <b>Feitje:</b> Altijd Heerlijk plaats <u>nooit berichten op jouw Facebook pagina</u>.
      </div>
</div>
</div>