<h1>Gebuikers volgen</h1>
<div class="table-responsive">
  <table class="table">

      <thead>
      <tr>
        <th>Foto</th>
        <th>Naam</th>
        <th>Emailadres</th>
        <th>Bekijk profiel</th>
        <th>Volg gebruiker</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    	<% @users = User.all %>
		  <% @users.each do |user| %>
        <tr>
          <td></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= link_to "Bekijk profiel", user_path(user) %></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>

  </table>
</div>
       