<p>Hi <%= @user.name %>,</p>

<p>Je bent toegevoegd als vriend door <%= @current_user.name %>. </p>

<p>Bekijk al je vrienden <%= link_to "hier", my_friends_url(@user) %>.</p>

<p>Smakelijke groet,</p>

<p>Altijd Heerlijk</p>