<p>Hi <%= @follower.name %>,</p>

<p>Je vriend <%= @current_user.name %> heeft recept <%= link_to @pin.description, pin_url(@pin) %> toegevoegd.</p>

<p>Smakelijke groet,</p>

<p>Altijd Heerlijk</p>