<p>Hi <%= @pin.user.name %>,</p>

<p>Jouw recept <b><%= @pin.description %></b> wordt lekker gevonden door anderen.</p>

<p>Bekijk <%= link_to "hier", pin_url(@pin) %> welke personen jouw recept nu lekker vinden.</p>

<p>Smakelijke groet,</p>

<p>Altijd Heerlijk</p>
